<!--
  templateType: page
  isAvailableForNewContent: false
  label: Systems2follow - Password Prompt
-->
{% extends "/Systems2followTheme/templates/layouts/base.html" %}

{% block body %}
  {% module "header" path="/Systems2followTheme/modules/header.module" %}
  
  <section class="section-password d-flex align-items-center justify-content-center">
    <div class="container">
       <div class="row justify-content-center">
         <div class="col-md-8">
           <div class="system-card text-center d-flex flex-column">
             <h1 class="mb-3">Privé Inhoud 🔒</h1>
             <p class="mb-4 text-muted">Deze pagina is afgeschermd. Voer je wachtwoord in om verder te gaan.</p>
             <div class="hs-password-form">
                {% module "password_prompt" path="@hubspot/password_prompt" %}
             </div>
           </div>
         </div>
       </div>
    </div>
  </section>

  
  {% module "footer" path="/Systems2followTheme/modules/footer.module" %}
{% endblock body %}
