<!--
  Template: Traders Page
  Beschrijving: Team leden en contact formulier
-->
{% extends "/Systems2followTheme/templates/layouts/base.html" %}

{% block body %}
  {# Header #}
  {% module "header" path="/Systems2followTheme/modules/header.module" %}

  {# Pagina Header #}
  {% module "sub_header" 
     path="/Systems2followTheme/modules/sub-header.module"
     heading="Traders"
  %}

  {# Traders Content #}
  {% dnd_area "main_content" label="Pagina Inhoud" %}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="/Systems2followTheme/modules/team.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module 
             path="/Systems2followTheme/modules/contact-form.module"
             heading="Become a trader"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  {% end_dnd_area %}

  {# Footer #}
  {% module "footer" path="/Systems2followTheme/modules/footer.module" %}
{% endblock body %}


